@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f2f5; /* AntD default background */
  color: #000000d9; /* AntD default text color */
}

#root {
  width: 100%;
  height: 100%;
}